doctype html
html
    head
        title= title
        block styles
        block scripts 
    body
        .content
            block content
                block header
    footer#footer
        block footer


