extends layout

block append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
block append scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.1/riot.min.js')
    script(src='/javascripts/controllers/authenicationController.js')
block append header
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/catalog') Goods
            li.nav-item
                a.nav-link(href='/gallery') Gallery 
            li.nav-item
                a.nav-link(href='/addProduct') Add
        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        a.mx-2(href='/cart' style='font-size: 2rem; color: White;')
            i.fas.fa-shopping-cart
block append content
    script
        | $(() => riot.mount('*'));

