extends layout

block append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
block append scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/controllers/authenicationController.js')
block header
    ul.nav
        li.nav
            a.active(href= '/')= 'Home'
        li.nav
            a.active(href= '/catalog')= 'Catalog'
        li.nav
            a.active(href= '/gallery')= 'Gallery'
        li.nav
            a.active(href= '/test')= 'Test'

