.cont {
    width: 300px;
    margin: 0 auto;}

.content {
    max-width: 960px;
    margin: 0 auto;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

.good {
    width: 960px;
    margin: 0 auto;
}

.good {
    margin: 20px auto;
    background-color: #F5F5F5;
    height: 280px;
    border-radius: 3em;
}

.goodImage {
    width: auto;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.goodParameters {
    display: block;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
}

.goodParameters li {
    list-style-type: none;
}

.goodParameters a {
    text-decoration: none;
}

.goodDefenition {
    box-sizing: border-box;
    padding: 30px;
    float: left;
    width: 38%;
}

.goodDefenition div {
    display: block;
    font-size: 1.2em;
    text-align: center;
}

.itemImageContainer {
    float: left;
    margin-top: 20px;
    width: 60%;
}

.itemImage {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.clearFix {
    clear: both;
    content: "";
}

.item {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: #F5F5F5;
    float: left;
}